@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-Bold.eot');
  src: local('fonts/Istok Web Bold'), local('fonts/IstokWeb-Bold'),
    url('fonts/IstokWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-Bold.woff') format('woff'),
    url('fonts/IstokWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-Italic.eot');
  src: local('fonts/Istok Web Italic'), local('fonts/IstokWeb-Italic'),
    url('fonts/IstokWeb-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-Italic.woff') format('woff'),
    url('fonts/IstokWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-Regular.eot');
  src: local('fonts/Istok Web Regular'), local('fonts/IstokWeb-Regular'),
    url('fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-Regular.woff') format('woff'),
    url('fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-BoldItalic.eot');
  src: local('fonts/Istok Web Bold Italic'), local('fonts/IstokWeb-BoldItalic'),
    url('fonts/IstokWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-BoldItalic.woff') format('woff'),
    url('fonts/IstokWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.capitalize {
  text-transform: capitalize;
}

body {
  font-family: 'Istok Web';
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.sec1 {
  background-color: #de2b24;
  margin-top: -18px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t1 {
  font-family: 'Istok Web';
  font-size: 48px;
  font-weight: bold;
  margin-top: 134px;
}

.t2 {
  font-family: 'Istok Web';
  font-size: 24px;
  font-weight: normal;
  position: relative;
}

.albom {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 300px;
}

.photo {
  width: 350px;
  height: 350px;
}

.photo p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 152px;
}

.photo p span {
  font-size: 20px;
  font-weight: bold;
}

.t3 {
  width: 65px;
  height: 7px;
  background-color: white;
  margin-top: 22px;
  margin-bottom: 60px;
}

p.project:hover {
  color: black;
  transform: scale(1.5);
}

.photo img:hover {
  transform: scale(1.5);
}

p.project {
  position: relative;
}

p.project::before {
  content: "";
  background-image: url(img/icon7.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 40%;
  top: -90%;
  position: absolute;
}

.text {
  background-color: #f66;
}

.sec2 {
  background-color: #09c;
  margin-top: -134px;
}

.container1 {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #09c;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-top: 25px;
}

.circle::before {
  content: "";
  height: 24px;
  width: 3px;
  background-color: white;
  transform: rotate(-45deg);
  position: absolute;
  left: 25px;
  top: 24px;
}

.circle::after {
  content: "";
  height: 24px;
  width: 3px;
  background-color: white;
  transform: rotate(45deg);
  left: 40px;
  top: 24px;
  position: absolute;
}

.rect {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  background-color: white;
  margin-top: 30px;
}

.form_block {
  background-color: white;
  color: black;
  margin-bottom: 180px;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 936px;
  border-radius: 5px;
}

.form_block p {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 55px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.indent {
  text-indent: 28px;
  margin-bottom: 7px;
}

input {
  border-radius: 5px;
  border-width: 1;
  width: 609px;
  height: 70px;
}

div.inner {
  margin-bottom: 10px;
}

.container1 p {
  font-family: 'Istok Web';
  font-size: 24;
  font-weight: normal;
}

input[type="submit"] {
  width: 210px;
  height: 60px;
  background-color: #de2b24;
  font-weight: bold;
  font-size: 18;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 73px;
}

.rect::before {
  background-color: red;
  content: "";
  width: 60px;
  height: 60px;
  right: -330px;
  top: -330px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  position: absolute;
}

.rect::after {
  content: "X";
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 32px;
  font-weight: normal;
  transform: rotate(-45deg);
  right: -312px;
  top: -312px;
}

.sec3 {
  background-color: #333;
}

.sec3 .t1 {
  margin-top: 120px;
  font-size: 32px;
}

.menu {
  width: 352px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.menu a {
  border: 3px solid #666;
  border-radius: 3px;
  padding: 10px;
}

.f input[type="submit"] {
  background-color: #333;
  border: 2px solid #666;
  border-radius: 2;
  margin-top: 17px;
}

input[type="email"] {
  background-color: #666;
  width: 900px;
  height: 70px;
  margin-top: 15px;
}

.container1 a:hover {
  border-color: red;
}

footer {
  background-color: #666;
  display: flex;
  justify-content: center;
}

.fut p {
  padding: 20px 0;
}

@media(max-width:1400px) {
  .albom {
    justify-content: center;
  }
}

@media(max-width:1032px) {
  .form_block {
    width: 612px;
  }

  input[type="email"] {
    width: 400px;
  }

  .t1 {
    text-align: center;
  }

  .rect::before {
    background-color: red;
    content: "";
    width: 60px;
    height: 60px;
    right: -220px;
    top: -220px;
    border-radius: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    position: absolute;
  }

  .rect::after {
    content: "X";
    position: absolute;
    z-index: 5;
    color: white;
    font-size: 32px;
    font-weight: normal;
    transform: rotate(-45deg);
    right: -202px;
    top: -202px;
  }
}

@media(max-width:708px) {
  .form_block {
    width: 322px;
  }

  input[type="email"] {
    width: 270px;
  }

  input {
    border-radius: 5px;
    border-width: 1;
    width: 309px;
    height: 70px;
  }

  .rect::before {
  background-color: red;
  content: "";
  width: 60px;
  height: 60px;
  right: -120px;
  top: -120px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  position: absolute;
}

.rect::after {
  content: "X";
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 32px;
  font-weight: normal;
  transform: rotate(-45deg);
  right: -102px;
  top: -102px;
}
}
